:root {
  --primary-text-color: white;
  --primary-dark-color: #1A1A2E;
  --secondary-dark-color: #16213E;
  --primary-element-color: #0F3460;
  --reset-element-color: #4862ab;
  --cancel-element-color: #6F2929;
  --cancel-secondary-color: #893535;

  --success-color: green;
  --warning-color: yellow;
  --danger-color: red;
  --untouched-color: #8a8a8a;
}