@import "colors";
@import "fonts";

body {
  //background: var(--primary-dark-color);
  color: var(--primary-dark-color);
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}